#sign-in{
    background-image: url('../../Images/study-imgae.jpg');
    background-repeat: no-repeat;
    height: 891px;
    width: 100%;
   
}
.sign-in-bg{
    background-color: rgba(0, 0, 0,0.6);
    height: 100%;
    width: 100%;
}

.sign-in-form{
    background-color: rgb(188, 239, 243);
    /* height: auto;
    width: auto; */
    margin-left: 150px;
    margin-right: 150px;
      
}

.sign-in-logo{    
    height: 50px;
}
.logo-position{
    text-align: center;
}