#sign-in{
    background-image: url('../../Images/study-imgae.jpg');
    background-repeat: no-repeat;
    height: 891px;
    width: auto;
   
}
.sign-in-bg{
    background-color: rgba(0, 0, 0,0.6);
    height: 100%;
    width: 100%;
}

.sign-in-form{
    background-color: rgb(188, 239, 243);
    height: 80%;
    width: 60%;
      
}

.sign-in-logo{    
    height: 50px;
}
.logo-position{
    text-align: center;
}

.or{
    color: rgb(177, 113, 113);
}
.or::before{
content: "-----------------";
}

.or::after{
content: "-----------------";
}

.icon-sign-in-body{
    text-align: center;      
}

.icon-sign-in{
    border: 1px solid gray;
    border-radius: 50px;

}

.sign-logo-size{   
    height: 30px;
    width: 40px;
}

.err-masseges{
    color: red;
}

.success-masseges{
    color: green;
}